exclude *.pyc *~ *.so .DS_Store
include __version__.py
include .bumpversion.cfg
include .gitignore
include .travis.yml
include appveyor.yml
include LICENSE.txt
include Makefile
include README.md
include requirements.txt
include setup.cfg
include setup.py
include tox.ini
recursive-include instakit/data *
recursive-exclude instakit *.pyc *~ *.so .DS_Store